
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

.react-flow {
  background: linear-gradient(to bottom, #1E1E2E 0%, #252535 100%);
}

.react-flow__edge .react-flow__edge-path {
  stroke: #A1A2FF;
  stroke-width: 2;
  stroke-opacity: 0.75;
}


.react-flow__handle {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  opacity: 0.8;
}

.react-flow__handle:hover {
  opacity: 1;
  transform: scale(1.2);
}

.react-flow__handle.custom-handle {
  opacity: 0.7;
}

.react-flow__handle.custom-handle:hover {
  opacity: 1;
  transform: scale(1.3);
}